Repository opendevstack/ods-core, changes with the owners that CODEOWNERS names for each.
All owners: @clemensutschig, @hugowschneider, @michaelsauter, @oalyman, @stitakis, @metmajer, @tjaeschke

adapt to change in repos.sh
  ods-devenv/scripts/deploy.sh
Owners: @michaelsauter

adapt to changes in repos.sh
  ods-devenv/scripts/bootstrap.sh
Owners: @michaelsauter

Provide BITBUCKET_ODS_PROJECT value to repos.sh (#723)
  ods-devenv/scripts/bootstrap.sh
  ods-devenv/scripts/deploy.sh
Owners: @michaelsauter

Compile Go tests
  .github/workflows/continuous-integration-workflow.yml
Owners: none

Run gofmt
  .github/workflows/continuous-integration-workflow.yml
  tests/create-projects/jenkinsfile_test.go
  tests/ods-verify/verify-ods-project-provision-api_test.go
Owners: @clemensutschig, @hugowschneider

Use relative package names
  .github/workflows/continuous-integration-workflow.yml
Owners: none

Run gofmt on all Go files in tests dir
  .github/workflows/continuous-integration-workflow.yml
  tests/utils/clean-up.go
  tests/utils/projects.go
  tests/utils/role-bindings.go
Owners: @clemensutschig, @hugowschneider

clean up unitt and odsverify projects after tests
  ods-devenv/scripts/deploy.sh
Owners: @michaelsauter

keep odsverify tests as a tested playground
  ods-devenv/scripts/deploy.sh
Owners: @michaelsauter

add users and groups for Jira
  ods-devenv/scripts/crowd-provision-app-backup.xml
Owners: @michaelsauter

removed/replaced redundant PROV_APP_PIPELINE_TRIGGER_SECRET
  configuration-sample/ods-core.env.sample
  ods-provisioning-app/ocp-config/cm.yml
Owners: @stitakis

configure CREATE PROJECT on project-admins
  ods-devenv/scripts/deploy.sh
Owners: @michaelsauter

crontab config to restart atlassian suite after 3 hours of use
  ods-devenv/crontab/crontab
  ods-devenv/crontab/restart_atlassian_suite.sh
Owners: none

fix command name in crontab
  ods-devenv/crontab/crontab
Owners: none

add comments
  ods-devenv/crontab/restart_atlassian_suite.sh
Owners: none

hard-code project names in cleanup after tests
  ods-devenv/scripts/deploy.sh
Owners: @michaelsauter

Preload dependencies
  jenkins/master/configuration/init.groovy.d/ods-jenkins-shared-library.groovy
Owners: @michaelsauter, @oalyman

activate debug on bootstrap.sh
  ods-devenv/scripts/bootstrap.sh
Owners: @michaelsauter

improve logging
  ods-devenv/scripts/bootstrap.sh
Owners: @michaelsauter

fix checkout from obsolete origin
  ods-devenv/scripts/bootstrap.sh
Owners: @michaelsauter

Clean up unitt projects after tests (#726)
  ods-devenv/scripts/deploy.sh
Owners: @michaelsauter

try grabbing grapes in transitive mode
  jenkins/master/configuration/init.groovy.d/ods-jenkins-shared-library.groovy
Owners: @michaelsauter, @oalyman

added/fixed documentation
  docs/modules/administration/pages/installation.adoc
Owners: none

minor addition
  docs/modules/administration/pages/installation.adoc
Owners: none

Preload dependencies
  jenkins/master/configuration/init.groovy.d/ods-jenkins-shared-library.groovy
Owners: @michaelsauter, @oalyman

doc fixes
  docs/modules/administration/pages/installation.adoc
Owners: none

Add workflow-durable-task-step:2.35
  jenkins/master/plugins.txt
Owners: @michaelsauter, @oalyman

Update index.adoc with new frontend UI info
  docs/modules/getting-started/pages/index.adoc
Owners: none

Revert "Add workflow-durable-task-step:2.35"
  jenkins/master/plugins.txt
Owners: @michaelsauter, @oalyman

added changelog entries for upcoming ods 3.0 release
  CHANGELOG.md
Owners: none

Do not check for nodejs12, as it is not setup by default
  tests/ods-verify/verify-ods-namespace-images_test.go
Owners: @clemensutschig, @hugowschneider

Update ods-core.env.sample
  configuration-sample/ods-core.env.sample
Owners: none

(re)moved entries
  CHANGELOG.md
Owners: none

add dynamic crontab to restart atlassian suite
  ods-devenv/crontab/crontab
  ods-devenv/scripts/deploy.sh
Owners: @michaelsauter

add cleanup with wait
  delete-projects/Jenkinsfile
  tests/utils/clean-up.go
Owners: @clemensutschig, @hugowschneider

CODEOWNERS:

tests/ @clemensutschig @hugowschneider
jenkins/ @michaelsauter @oalyman
scripts/ @michaelsauter
ods-provisioning-app/ @stitakis
ods-document-generation-svc/ @metmajer
infrastructure-setup/ @tjaeschke
